Package: me.jjolano.shadow
Name: Shadow
Pre-Depends: dpkg
Depends: firmware (>= 8.0), com.opa334.libsandy, me.jjolano.fmwk.hookkit, me.jjolano.hkmodule.fishhook, me.jjolano.fmwk.rootbridge
Suggests: com.ps.injectionfoundation
Recommends: mobilesubstrate, preferenceloader
Provides: me.jjolano.shadow.beta
Replaces: me.jjolano.shadow.beta
Conflicts: me.jjolano.shadow.beta, me.jjolano.shadow.legacy
Version: 3.7.6+smbc80
Architecture: iphoneos-arm
Description: A modern jailbreak detection bypass.
Maintainer: jjolano
Author: jjolano
Section: System
